In [1]:
# Importação de pacotes necessários para este laboratório

import seaborn as sns #Visualização
import matplotlib.pyplot as plt #Visualização
import pandas as pd #Biblioteca Pandas para os dados
import numpy as np #Biblioteca para trabalhar com números

In [3]:
# Carrega a base de dados (Se estiver usando no colab, utilize pd.read_csv("Advertising.csv"))
data = pd.read_csv("../00_Learns/01_regressao_ad/Advertising.csv")
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [4]:
# Importando o modelo de Regressão Linear
from sklearn.linear_model import LinearRegression