# **Introdução**

O objetivo desse projeto é de apresentar os comandos básicos de Python para aplicar em análise de dados.

In [ ]:
print ("Olá Mundo")

Olá Mundo

In [ ]:
mensagem = 'Olá Mundo'

In [ ]:
print (mensagem)

Olá Mundo

In [ ]:
mensagem

'Olá Mundo'

In [ ]:
nome = input ('Qual é o seu nome?')

Qual é o seu nome?Luciano

In [ ]:
print ('Meu nome é:',  nome)

Meu nome é: Luciano

In [ ]:
nome = input ('Qual é o seu nome?')
print ('Meu nome é:',  nome)

Qual é o seu nome?Luciano
Meu nome é: Luciano

# **Operadores Matemáticos**

In [ ]:
n1 = 7

In [ ]:
n2 = 2

In [ ]:
s = n1 + n2
print(s)

9

In [ ]:
s = s + n2
print (s)

11

In [ ]:
s += n2
print(s)

13

In [ ]:
sub = n1 - n2
sub

5

In [ ]:
mult = n1 * n2
mult

14

In [ ]:
div = n1 / n2
div

3.5

In [ ]:
pot = n1**n2
pot

49

In [ ]:
pot2 = pow (n1,n2)
pot2

49

In [ ]:
divi = n1 // n2
divi

3

In [ ]:
rest = n1 % n2
rest

1

# **Importações de bibliotecas (pacotes) e módulos**

In [1]:
import numpy as np

https://numpy.org/devdocs/user/whatisnumpy.html

In [2]:
raiz_quadrada = sqrt (25)

NameError: ignored

In [3]:
import math

https://docs.python.org/pt-br/3/library/math.html

In [4]:
n = 18

In [5]:
raiz = math.sqrt(n)
print ('A raiz de {} é igual a {:.2f}'.format (n, raiz))

A raiz de 18 é igual a 4.24

In [6]:
print(raiz)

4.242640687119285

In [8]:
math.sqrt(18)

4.242640687119285

In [9]:
print(f'A raiz quadrada de {n} é {raiz:.2f}')

A raiz quadrada de 18 é 4.24

In [10]:
raiz2 = n ** 0.5
print (raiz2)

4.242640687119285

In [11]:
print (f'{raiz2:.3f}')

4.243

In [13]:
print ('{:.3f}'.format(raiz2))

4.243

In [15]:
sqrt(36)

NameError: ignored

In [17]:
from math import sqrt
raiz3 = sqrt(n)
print (f'{raiz3:.2f}')

4.24

In [18]:
sqrt(36)

6.0

In [19]:
from math import sqrt, factorial

In [21]:
fat = factorial(4)       # fatorial: 4! = 4.3.2 = 24
                         #           5! = 5.4.3.2 = 120
fat

24

In [25]:
factorial(8)

40320

In [29]:
fatorial_raiz = factorial(int(sqrt(16)))
fatorial_raiz

24

In [30]:
fatorial_raiz = math.factorial(int(math.sqrt(16)))
fatorial_raiz

24

In [59]:
import random
num = random.randint (1,10)
print (num)

10

In [ ]:
random.

https://docs.python.org/pt-br/3.7/library/random.html

In [44]:
from random import random, randint

In [45]:
random?

In [55]:
randint?

In [54]:
num2 = random()
num2

0.6241871447906944

In [70]:
randint(2,15)

2

# **Estrutura condicional**

In [19]:
import numpy as np

if
else
elif

In [ ]:
nota = 5

In [ ]:
if nota >= 6:
    print('Aprovado')
else:
    print('Reprovado')

In [ ]:
if nota >= 6:
    print('Aprovado')
elif nota >= 5 and nota< 6:
    print('Recuperação')
else:
    print('Reprovado')

# **Estrutura de Repetição**

for
while

In [ ]:
for c in range(0,4):
    print(c)

In [ ]:
lista = [1, 2, 3, 4, 10]
for numero in lista:
  mult = numero * 2
  print(mult)

In [ ]:
soma = 0
cont = 0
for c in range (1, 6):
    num = int(input('digite o {}o valor: '.format(c)))
    if num % 2 == 0:
        soma = soma + num
        cont = cont + 1
print('Você informou {} números pares e a soma deles é igual a {}'.format(cont, soma))

In [ ]:
c = 1
while c <= 10:
    s = c + 10
    print(s)
    c = c + 1
print('FIM')

# **Listas, Tuplas e Dicionários**

Listas [ ]
Tuplas ( )
Dicionários { }

**LISTAS**

In [ ]:
num = [2, 5, 7, 9]

In [ ]:
num[3] = 4   # no lugar do elemento na posição 3 (número 9) vai ser colocado o número 4

In [ ]:
num

[2, 5, 7, 4]

In [ ]:
num.append(8) #inclui o número 8
num

[2, 5, 7, 4, 8]

In [ ]:
num.sort() #coloca em ordem crescente
num

[2, 4, 5, 7, 8]

In [ ]:
num.insert(2, 0) # adiciona o zero na posição 2
num

[2, 4, 0, 5, 7, 8]

In [ ]:
num.remove(7) #remove o elemento 7
num

ValueError: ignored

In [ ]:
num.pop(3) #remove o elemento na posição 3
num

[2, 4, 0, 8]

In [ ]:
del(num[0:2]) #deleta números em um determinado intervalo

In [ ]:
num

[]

**TUPLAS**

Tupla é imutável.

In [ ]:
num2 = (2, 5, 7, 9)

In [ ]:
num2[3] = 4

In [ ]:
num2.append(8) #inclui o número 8
num2

**DICIONÁRIOS**

In [ ]:
pessoas = {'nome': 'Luciano', 'sexo': 'masculino', 'idade': 46}  # número não coloca aspas
print (pessoas)

In [ ]:
pessoas['time'] = 'Corinthians'
print(pessoas)

In [ ]:
del pessoas['idade']
print(pessoas)

# **Funções**

In [ ]:
def identificacao(nome,idade):
   print('Olá',nome,'\nVocê é jovem, tem apenas',idade, 'anos')

In [ ]:
identificacao('Luciano', 46)

In [ ]:
def maior (x,y):
  if x < y:
    print ('O maior número é', y)
  elif x == y:
    print ('Os números são iguais')
  else:
    print ('O maior número é', x)

In [ ]:
maior (11,16)

In [ ]:
def pitagoras (cat1, cat2, hip):
  if hip == '?':
    hip = (cat1**2+cat2**2)**(1/2)
    print ('A hipotenusa é', hip)
  elif cat1 == '?':
    cat1 = (hip**2-cat2**2)**(1/2)
    print ('O cateto é', cat1)
  elif cat2 == '?':
    cat2 = (hip**2-cat1**2)**(1/2)
    print ('O cateto é', cat2)

In [ ]:
pitagoras (13,5,'?')

## **Função lambda e map**

Forma simplificada de escrever funções

In [ ]:
def area_quadrado (L):
  area = L**2
  print(area)

In [ ]:
area_quadrado(4)

16

In [ ]:
area_quadrado2 = lambda x: x**2

In [ ]:
area_quadrado2(7)

49

In [ ]:
area_retangulo = lambda b, h: b*h

In [ ]:
area_retangulo(4,7)

28

In [ ]:
# Uma vantagem é quando se utiliza juntamente com outros métodos
L = [4,5,6,7,11,9,10]
areas = list(map(lambda x: x**2, L))
print(areas)

[16, 25, 36, 49, 121, 81, 100]

In [ ]:
area_retangulo = lambda b, h: b*h

# **List Comprehensions**

Otimiza a utilização de listas e diminui linhas de código

In [ ]:
lista=[]
for valor in range(5):
  lista.append(valor+10)
print(lista)

In [ ]:
lista = [valor+10 for valor in range(5)]
print(lista)

In [ ]:
lista = []
for numero in range (1,30):
  if numero % 4 == 0:
    lista.append(numero)
print(lista)

In [ ]:
multiplos4 = [numero for numero in range(1,30) if numero % 4 == 0]
print(multiplos4)

In [ ]:
conceito = ['azul' if nota >= 6 else 'vermelha' for nota in range(1,11)]
print(conceito)

# **Vetores (arrays) e matrizes**

Matriz
1    3    5    7
2    4    6    8
0    1    2    3

Vetor
5  10  15  20
ou
3
4
5
6

In [ ]:
vetor = [2,4,5,6]

In [ ]:
type(vetor)

In [ ]:
matriz = [[1,2,3],
          [4,5,6],
          [7,8,9]]

In [ ]:
type(matriz)

In [ ]:
print(matriz)

In [ ]:
import numpy as np

In [ ]:
vetor2 = np.array([1, -3, 4.2, 5])

In [ ]:
type(vetor2)

In [ ]:
print (vetor2)

In [ ]:
matriz2 = np.ones((2,3))
matriz2

In [ ]:
type(matriz2)

In [ ]:
matriz3 = np.diag((2,4,6,8,10))
matriz3

In [ ]:
type(matriz3)